:root {
  --purple-pizzazz: #9c0ca1;
  --dark-purple: #39065a;
  --royal-pink: #e858ae;
  --white: #ffffff;
  --whatsapp: #4caf50;
  --violet: #9a0f98;
  --rose-red: #ea0599;
  --light-violet-transparent: #9a0f9833;
  --silver-chalice: #acacb3;
  --grey: #797980;
  --ghost-white: #f9f7fa;
  --black-transparent: #00000012;
  --pink: #ffc0cb;
  --turquoise-blue: #20e9f8;
  --platinum: #eaeaec;
  --black: #000000;
}

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header {
  padding: 12px;
}

.section-1 {
  background: linear-gradient(var(--purple-pizzazz), var(--dark-purple));
  height: 100dvh;
}

ul {
  list-style-type: none;
  margin-left: 15%;
  display: flex;
}

li {
  color: var(--white);
  margin-left: 24px;
  font-weight: 300;
  font-size: 15px;
}
li:hover,
li:active {
  border-bottom: 2px solid var(--dark-purple);
  margin-bottom: -2px;
}

main {
  display: flex;
  justify-content: space-around;
  margin-left: 9.7%;
  margin-right: 6%;
  margin-top: 3.6%;
  width: auto;
}

main > img {
  width: 38%;
  margin-right: 150px;
  transition: transform 0.5s ease;
}
main > img:hover {
  margin-top: 50px;
  scale: 1.3;
}
.right-container {
  margin-top: 170px;
}

.right-container h1 {
  color: var(--white);
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 24px;
}

.right-container h1::first-letter {
  margin-left: 24px;
}

.right-container .all-courses {
  background-color: var(--royal-pink);
  color: var(--white);
  border: none;
  border-radius: 20px;
  padding: 8px 32px;
}

.right-container .show-more {
  border: var(--royal-pink) 1px solid;
  color: var(--royal-pink);
  background-color: transparent;
  border-radius: 20px;
  padding: 8px 32px;
}
.right-container .show-more:hover {
  background-color: var(--royal-pink);
  color: var(--white);
}

.whatsapp {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--whatsapp);
  border: white 3px solid;
  border-radius: 50%;

  position: fixed;
  left: 32px;
  bottom: 32px;
  transform: scaleZ(1);
}

.whatsapp img {
  max-width: 100%;
  max-height: 100%;
}

.section-2 {
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 64px 32px 64px;
}

hr {
  border: 1px solid var(--royal-pink);
  width: 124px;
  margin-bottom: 14px;
}

h1 {
  color: var(--violet);
  font-weight: 300;
  margin-bottom: 24px;
}

.section-2 > h1 {
  font-size: 50px;
}

.section-2 p {
  text-align: center;
  font-weight: 300;
  margin-bottom: 64px;
}

.informations {
  display: flex;
  justify-content: space-around;
}

.vision,
.mission,
.suggest,
.strive {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  padding: 0 32px 32px 32px;
}

.informations p {
  text-align: start;
}

.section-2 img {
  transition: transform 0.3s ease;
}

.section-2 img:hover {
  transform: scaleX(-1) rotate(180deg);
}

.section-3 {
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#ffffff00, var(--dark-purple));
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.section-3 h1 {
  margin-top: 15%;
  font-size: 64px;
}

.section-3 hr {
  margin-bottom: 24px;
}

.section-3 .images {
  display: flex;
  justify-content: space-between;
  margin: auto 24px 64px 24px;
}

.section-3 .images img {
  flex: 1;
  max-width: calc(33.33% - 32px);
  margin: 0 8px;
}

.section-3 .images img:hover {
  scale: 1.15;
}

.section-3 .images img:first-child {
  margin-left: 0;
}

.section-3 .images img:last-child {
  margin-right: 0;
}

.section-4 {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

.information2 p {
  border: 1px dotted var(--rose-red);
  color: var(--silver-chalice);
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
}

.image-circle {
  background: linear-gradient(var(--violet), var(--rose-red));
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 24px;
  position: relative;
}

.image-circle:hover {
  transform: scaleY(-1) rotate(180deg);
}

.information2 img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  overflow: visible;
}

.robot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 36px;
}

.small-circle p {
  position: absolute;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px var(--rose-red) solid;
  top: -10px;
  right: 30px;
  transform: translateZ(0);
}

.section-5 {
  height: 100dvh;
  background: linear-gradient(var(--purple-pizzazz), var(--dark-purple));

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-items: center;

  padding: 0 40px;
}

.image-section {
  text-align: center;
  transform: scaleX(-1);
}

.image-section img {
  max-width: 100%;
  max-height: 600px;
  object-fit: contain;
  transition: transform 2s ease;
}

.text-section {
  display: flex;
  flex-direction: column;
}

.section-5 p {
  font-size: 18px;
  color: var(--white);
}

.inside-informations {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  display: flex;
  align-items: center;
  padding: 5px;
  text-align: center;
  gap: 10px;
}

.info p {
  text-align: start;
  padding: 5px;
}

.info img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding: 5px;
  transition: transform 2s ease;
}

.image-section img:hover {
  transform: scaleX(-0.75);
}

.info img:hover {
  transform: scaleY(-0.75);
}
